In [ ]:
from google.colab import files
files.upload()

In [168]:
import pandas as pd
data = pd.read_csv("categorical_data.csv")

In [169]:
data

  Name  age  salary label
0    A  1.0    12.0   Yes
1    B  3.0     NaN    No
2    C  2.0  1212.0    No
3    C  NaN   222.0   Yes
4    A  5.0    32.0   Yes
5    B  4.0   222.0    No

# **Đề bài**
Xử lý missingdata và ứng dụng với file categorical_data.csv ở trên.
Yêu cầu sử dụng 2 cách: 


Cách 1: Tìm hiểu SimpleImpute, sử dụng strategy là mean (là trung bình cộng)    
Cách 2: Tính bằng tay, tính trung bình cộng rồi đặt vào các ô dữ liệu missing

# **Tìm hiểu SimpleImpute, sử dụng strategy là mean**

In [170]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [171]:
data1 = pd.read_csv("categorical_data.csv")

In [172]:
data1

  Name  age  salary label
0    A  1.0    12.0   Yes
1    B  3.0     NaN    No
2    C  2.0  1212.0    No
3    C  NaN   222.0   Yes
4    A  5.0    32.0   Yes
5    B  4.0   222.0    No

Thay thế các giá trị còn thiếu bằng cách điền các giá trị trung bình

In [173]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
data1.iloc[:, 1:3] = imp_mean.fit_transform(data1.iloc[:, 1:3])

SimpleImputer(): Dùng để bổ sung+ thay thế các giá trị missing

missing_values=np.nan: các dữ liệu missing được thay thế

strategy='mean': sử dụng thay thế giá trị missing bằng mean (giá trị trung bình cộng)

imp_mean.fit_transform(): Phù hợp với dữ liệu imp_mean, sau đó biến đổi nó

data.iloc[]: Chọn dòng theo vị trí nguyên

In [174]:
data1

  Name  age  salary label
0    A  1.0    12.0   Yes
1    B  3.0   340.0    No
2    C  2.0  1212.0    No
3    C  3.0   222.0   Yes
4    A  5.0    32.0   Yes
5    B  4.0   222.0    No

# **Tính bằng tay, tính trung bình cộng rồi đặt vào các ô dữ liệu missing**

In [175]:
data2 = pd.read_csv("categorical_data.csv")

In [162]:
data2

  Name  age  salary label
0    A  1.0    12.0   Yes
1    B  3.0     NaN    No
2    C  2.0  1212.0    No
3    C  NaN   222.0   Yes
4    A  5.0    32.0   Yes
5    B  4.0   222.0    No

Sử dụng fillna thay thế các dữ liệu missing trong cột

Thay thế dữ liệu missing ở cột age thành giá trị trung bình cộng của cột:

In [176]:
data2['age'].fillna(data2['age'].mean(), inplace = True)

In [177]:
data2

  Name  age  salary label
0    A  1.0    12.0   Yes
1    B  3.0     NaN    No
2    C  2.0  1212.0    No
3    C  3.0   222.0   Yes
4    A  5.0    32.0   Yes
5    B  4.0   222.0    No

Thay thế dữ liệu missing ở cột salary thành giá trị trung bình cộng của cột:

In [178]:
data2['salary'].fillna(data2['salary'].mean(), inplace = True)

In [179]:
data2

  Name  age  salary label
0    A  1.0    12.0   Yes
1    B  3.0   340.0    No
2    C  2.0  1212.0    No
3    C  3.0   222.0   Yes
4    A  5.0    32.0   Yes
5    B  4.0   222.0    No